.booking {
  min-height: 555px;
  padding-left: 71px;
  padding-right: 71px;

  background-color: lightblue;
  background-image: url("../img/bg-booking-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-booking-desktop@2x.jpg");
  }
}

.booking__wrapper {
  width: 57%;
}

.booking__title {
  margin: 0;
  margin-bottom: 7px;
  padding-top: 214px;

  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: $font-color-dark;
}

.booking__slogan {
  width: 58%;
  margin: 0;

  font-size: 18px;
  line-height: 27px;
  color: $font-color-dark;
}

.booking__form-wrapper {
  width: 38.7%;
  margin-left: auto;
  margin-top: 51px;
  padding-left: 50px;
  padding-right: 49px;

  background-color: $font-color-dark;
}

.booking__offer {
  margin: 0;
  margin-bottom: 28px;
  padding-top: 43px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.booking__form {
  p {
    margin: 0;
    margin-bottom: 20px;
  }
}

.booking__input-wrapper {
  input {
    width: 100%;
    min-height: 43px;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $font-color-dark;

    border: none;
    border-radius: 0;
    background-color: $font-color-light;
  }
}

.booking__checkbox-wrapper {
  label {
    position: relative;

    display: block;
    padding-left: 23px;
    padding-top: 5px;

    font-size: 10px;
    line-height: 10px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 18px;
      height: 18px;

      background-color: $font-color-light;
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 3px;

      display: none;
      width: 12px;
      height: 8px;

      background-image: url("../img/icon-checkbox.svg");
      background-repeat: no-repeat;
    }
  }
}

.booking__form input[type="checkbox"]:checked + label::after {
  display: block;
}

.booking__form-button {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 50px;
}

@media (max-width: $tablet-width) {
  .booking {
    min-height: 805px;
    padding-left: 0;
    padding-right: 0;

    background-image: url("../img/bg-booking-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-booking-tablet@2x.jpg");
    }
  }

  .booking__wrapper {
    width: 100%;

    text-align: center;
  }

  .booking__form-wrapper {
    width: 59.4%;
    margin-left: auto;
    margin-right: auto;
  }

  .booking__title {
    margin: 0;
    margin-bottom: 4px;
    padding-top: 89px;

    font-size: 34px;
    line-height: 51px;
  }

  .booking__slogan {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
  }

  .booking__offer {
    padding-top: 44px;
  }
}

@media (max-width: $mobile-width) {
  .booking {
    min-height: 760px;
  }

  .booking__wrapper {
    width: 100%;

    text-align: center;
  }

  .booking__form-wrapper {
    width: 100%;
    margin-top: 33px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .booking__title {
    margin: 0;
    margin-bottom: 16px;
    padding-top: 58px;

    font-size: 24px;
    line-height: 31px;
  }

  .booking__slogan {
    width: 89%;

    font-size: 16px;
    line-height: 22px;
  }

  .booking__offer {
    width: 88%;
    padding-top: 34px;
    margin-left: auto;
    margin-right: auto;

    line-height: 25px;
    text-align: center;
  }

  .booking__input-wrapper {
    input {
      outline: none;
    }
  }

  .booking__checkbox-wrapper {
    label {
      display: block;
      width: 76%;
      padding-top: 3px;
      padding-left: 28px;

      &::before {
        top: 1px;
        left: 0;

        width: 20px;
        height: 20px;
      }

      &::after {
        top: 7px;
        left: 4px;
      }
    }

    input {
      outline: none;
    }
  }

  .booking__form-button {
    margin-top: 28px;
    margin-bottom: 41px;
  }
}

@media (max-width: $mobile-width-only) {
  .booking {
    background-image: url("../img/bg-booking-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-booking-mobile@2x.jpg");
    }
  }
}
