.catalog {
  padding-bottom: 91px;

  background-color: $font-color-light;
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 49px;
  padding-top: 110px;

  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: $font-color-dark;
}

.catalog__item {
  margin-bottom: 2.58%;

  &:not(:nth-child(4n)) {
    margin-right: 2.58%;
  }
}

@media (max-width: $tablet-width) {
  .catalog {
    padding-bottom: 36px;
  }

  .catalog__title {
    padding-top: 90px;

    font-size: 26px;
    line-height: 39px;
  }

  .catalog__item {
    margin-bottom: 4.7%;

    &:not(:nth-child(4n)) {
      margin-right: 0;
    }

    &:not(:nth-child(2n)) {
      margin-right: 4.7%;
    }
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    padding-bottom: 0;
  }

  .catalog__list {
    padding-left: 10px;
    padding-right: 10px;
  }

  .catalog__item {
    margin-bottom: 11.1%;

    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
  }

  .catalog__title {
    padding-top: 57px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }
}
