.contacts {
  font-size: 16px;
  line-height: 24px;
  color: $font-color-dark;
}

.contacts__offer {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.contacts__phone-link {
  color: $font-color-dark;
}
