.features {
  min-height: 562px;

  background-color: $font-color-light;
  background-image: url("../img/bg-features-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: $font-color-dark;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-features-desktop@2x.jpg");
  }
}

.features__title {
  margin: 0;
  padding-top: 110px;
  margin-bottom: 49px;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.features__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 31%;
  min-height: 241px;
  margin-bottom: 30px;

  background-color: $font-color-light;

  &:not(:nth-child(3n)) {
    margin-right: 3.45%;
  }

  &--liner {
    background-image: url("../img/icon-features-liner.svg");
    background-repeat: no-repeat;
    background-position: 31px 30px;

    .features__feature-title {
      padding-left: 31px;
      padding-right: 15px;
    }

    .features__description {
      padding-left: 31px;
      padding-right: 22px;
    }
  }

  &--check {
    background-image: url("../img/icon-features-check.svg");
    background-repeat: no-repeat;
    background-position: 31px 35px;

    .features__feature-title {
      padding-left: 31px;
      padding-right: 20px;
    }

    .features__description {
      padding-left: 31px;
      padding-right: 40px;
    }
  }

  &--boat {
    background-image: url("../img/icon-features-boat.svg");
    background-repeat: no-repeat;
    background-position: 31px 38px;

    .features__feature-title {
      padding-left: 31px;
      padding-right: 20px;
    }

    .features__description {
      padding-left: 31px;
      padding-right: 80px;
    }
  }
}

.features__feature-title {
  margin: 0;
  padding-top: 81px;
  margin-bottom: 9px;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.features__description {
  margin: 0;
  margin-bottom: 10px;

  line-height: 20px;
}

@media (max-width: $tablet-width) {
  .features {
    min-height: 588px;

    background-image: url("../img/bg-features-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-features-tablet@2x.jpg");
    }
  }

  .features__title {
    padding-top: 90px;
    margin-bottom: 49px;

    font-size: 26px;
    line-height: 39px;
  }

  .features__item {
    width: 30.35%;
    min-height: 310px;

    &:not(:nth-child(3n+3)) {
      margin-right: 4.31%;
    }

    &--liner {
      background-size: 21px 26px;
      background-position: 20px 25px;

      .features__feature-title {
        padding-left: 20px;
        padding-right: 15px;
      }

      .features__description {
        padding-left: 20px;
        padding-right: 22px;
      }
    }

    &--check {
      background-size: 33px 19px;
      background-position: 20px 29px;

      .features__feature-title {
        padding-left: 20px;
        padding-right: 20px;
      }

      .features__description {
        padding-left: 20px;
        padding-right: 22px;
      }
    }

    &--boat {
      background-size: 38px 13px;
      background-position: 22px 32px;

      .features__feature-title {
        padding-left: 20px;
        padding-right: 20px;
      }

      .features__description {
        padding-left: 20px;
        padding-right: 19px;
      }
    }
  }

  .features__feature-title {
    padding-top: 70px;
    margin-bottom: 7px;
  }
}

@media (max-width: $mobile-width) {
  .features {
    min-height: 997px;
  }

  .features__title {
    padding-top: 57px;
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .features__item {
    width: 100%;
    min-height: 250px;

    &:not(:nth-child(3n+3)) {
      margin-right: 0;
    }

    &--liner {
      .features__feature-title {
        padding-left: 20px;
        padding-right: 80px;
      }
    }

    &--check {
      .features__feature-title {
        padding-left: 20px;
        padding-right: 80px;
      }

      .features__description {
        padding-left: 20px;
        padding-right: 50px;
      }
    }

    &--boat {
      .features__feature-title {
        padding-left: 20px;
        padding-right: 90px;
      }
    }
  }

  .features__feature-title {
    padding-top: 72px;
    margin-bottom: 7px;
  }
}

@media (max-width: $mobile-width-only) {
  .features {
    background-image: url("../img/bg-features-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-features-mobile@2x.jpg");
    }
  }
}
