.page-header {
  min-height: 650px;

  background-color: $font-color-dark;
  background-image: url("../img/bg-header-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-header-desktop@2x.jpg");
    background-size: cover;
  }
}

.page-header__inner {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.page-header__logo {
  margin-right: 30px;
  padding-top: 35px;
}

.page-header__nav {
  margin-left: auto;
}

.page-header__toggle {
  display: none;
}

.page-header__promo {
  padding-top: 191px;
  padding-left: 104px;
}

.page-header__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
}

.page-header__slogan {
  margin: 0;

  font-size: 20px;
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .page-header {
    min-height: 638px;

    background-image: url("../img/bg-header-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-tablet@2x.jpg");
      background-size: cover;
    }
  }

  .page-header__inner {
    width: 88.3%;
  }

  .page-header__logo {
    padding-top: 30px;
  }

  .page-header__promo {
    padding-top: 208px;
    padding-left: 0;
  }

  .page-header__title {
    margin-bottom: 13px;

    font-size: 50px;
    line-height: 61px;
  }

  .page-header__slogan {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 500px;
  }

  .page-header__inner {
    width: 100%;
    padding-left: 4.7%;
    padding-right: 4.7%;
    background-color: $font-color-light;
  }

  .page-header__nav {
    width: 100%;
    padding-left: 4.7%;
    padding-right: 4.7%;

    &--closed {
      display: none;
    }

    &--opened {
      position: absolute;
      top: 47px;
      left: 0;
      z-index: 2;

      background-color: $font-color-light;
    }
  }

  .page-header__toggle {
    position: absolute;
    top: 19px;
    right: 15px;

    display: block;
    width: 24px;
    height: 24px;
    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .page-header__nav--closed ~ .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $font-color-light;
    box-shadow: 0 6px 0 0 $font-color-light, 0 12px 0 0 $font-color-light;
  }

  .page-header__nav--opened ~ .page-header__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 11px;
      right: -2px;

      width: 18px;
      height: 2px;

      background-color: $font-color-dark;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .page-header__logo {
    padding-top: 20px;
  }

  .page-header__promo {
    padding-top: 128px;
  }

  .page-header__title {
    width: 265px;
    margin-bottom: 13px;

    font-size: 36px;
    line-height: 45px;
  }

  .page-header__slogan {
    width: 200px;

    font-size: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header {
    background-image: url("../img/bg-header-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-mobile@2x.jpg");
      background-size: cover;
    }
  }
}
