.page-footer {
  min-height: 138px;

  background-color: $font-color-dark;
}

.page-footer__logo {
  padding-top: 50px;
  margin-right: 42px;
}

.page-footer__nav {
  width: 70%;
  padding-top: 14px;
}

.page-footer__social {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .page-footer {
    min-height: 120px;
  }

  .page-footer__logo {
    margin-right: 25px;
  }

  .page-footer__nav {
    padding-top: 19px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    min-height: 283px;
    flex-direction: column;
  }

  .page-footer__logo {
    padding-top: 40px;
    margin-right: 0;
  }

  .page-footer__nav {
    width: 100%;
  }

  .page-footer__social {
    margin-left: 0;
  }
}
