*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $font-color-light;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
